
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/App.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.assets.cache
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.designer.deps.json
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.designer.runtimeconfig.json
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.GeneratedMSBuildEditorConfig.editorconfig
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF_MarkupCompile.i.cache
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF_MarkupCompile.i.lref
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/View/MeubelsLijst.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/View/MeubelsToevoegen.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/View/NieuwePlattegrond.g.i.cs
