
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/App.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.assets.cache
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.designer.deps.json
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.designer.runtimeconfig.json
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.GeneratedMSBuildEditorConfig.editorconfig
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF_MarkupCompile.i.cache
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF_MarkupCompile.i.lref
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/View/MeubelsLijst.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/View/MeubelsToevoegen.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/View/NieuwePlattegrond.g.i.cs
KantoorInrichting/.vs/KantoorInrichting/v16/.suo
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/App.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/apphost.exe
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.assets.cache
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.csproj.AssemblyReference.cache
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.csproj.FileListAbsolute.txt
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.GeneratedMSBuildEditorConfig.editorconfig
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF_MarkupCompile.i.cache
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/View/MeubelsLijst.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/View/MeubelsToevoegen.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/View/NieuwePlattegrond.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/KantoorInrichtingWPF.csproj.nuget.dgspec.json
KantoorInrichting/KantoorInrichtingWPF/obj/KantoorInrichtingWPF.csproj.nuget.g.props
KantoorInrichting/KantoorInrichtingWPF/obj/project.assets.json
KantoorInrichting/KantoorInrichtingWPF/obj/project.nuget.cache
*.cache
KantoorInrichting/.vs/KantoorInrichting/v16/.suo
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/App.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.assets.cache
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.csproj.AssemblyReference.cache
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.csproj.FileListAbsolute.txt
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.GeneratedMSBuildEditorConfig.editorconfig
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF_MarkupCompile.i.cache
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/View/MeubelsLijst.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/View/MeubelsToevoegen.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/View/NieuwePlattegrond.g.i.cs
KantoorInrichting/KantoorInrichtingWPF/obj/KantoorInrichtingWPF.csproj.nuget.dgspec.json
KantoorInrichting/KantoorInrichtingWPF/obj/KantoorInrichtingWPF.csproj.nuget.g.props
KantoorInrichting/KantoorInrichtingWPF/obj/project.assets.json
KantoorInrichting/KantoorInrichtingWPF/obj/project.nuget.cache
*.cache
KantoorInrichting/KantoorInrichtingWPF/bin/Debug/netcoreapp3.1/KantoorInrichtingWPF.dll
KantoorInrichting/.vs/KantoorInrichting/v16/.suo
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.assets.cache
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.csproj.AssemblyReference.cache
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.designer.deps.json
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.designer.runtimeconfig.json
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF.GeneratedMSBuildEditorConfig.editorconfig
KantoorInrichting/KantoorInrichtingWPF/obj/Debug/netcoreapp3.1/KantoorInrichtingWPF_MarkupCompile.i.cache
*.cs
*.exe
*.cache
*.json
*.editorconfig
*.cache
*.sln
*.json
